@model YSLProject.Models.GeneralNotesModel
@{
    ViewData["Title"] = "General Notes";
    Layout = "~/Views/Shared/_Layoutpopup.cshtml";
}

<style>
    .modal-body .btn-row {
        margin-top: 0rem;
        margin-bottom: 0rem;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .btn-row {
        border-top: 1px solid #ccc;
        text-align: right;
    }
</style>
@using (Html.BeginForm("GeneralNotes", "Member", FormMethod.Post,
new
{
   enctype = "multipart/form-data"
}))
{
    @Html.HiddenFor(model => model.MemberId)
    @Html.HiddenFor(model => model.ID)

    <div class="form-horizontal">
        <div>
            <div class="modal-padding">

                <div class="detail-section">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label " })
                            @Html.TextBoxFor(model => model.Type, htmlAttributes: new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.FollowUpDate, htmlAttributes: new { @class = "control-label " })
                            <input id="FollowUpDate" asp-for="FollowUpDate" da type="date" class="form-control" />
                            @Html.ValidationMessageFor(model => model.FollowUpDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label " })
                            @Html.TextAreaFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" }, rows = "2", @style = "width: 100%;" })
                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <div class="form-group row btn-row">
            <div class=" col-md-12 ">
                <button type="submit" class="btn btn-primary sve"><i class="fa fa-save"></i> Submit</button>
                <a class="btn btn-primary" href="/Member/Workfollow?memberId=@Model.MemberId">Cancel</a>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script>
        $(".sve").click(function () {
            if ($("#Type").val() == "" && $("#Notes").val() == "") {
                alert("Type & Notes is required");
                return false;
            }
            else {
                if ($("#Type").val() == "") {
                    alert("Type is required");
                    return false;
                }
                if ($("#Notes").val() == "") {
                    alert("Notes is required");
                    return false;
                }
                
            }
        })

    </script>
}